In [40]:
import pandas as pd

In [41]:
df=pd.read_html('https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/medal-standings.htm')

In [62]:
medals_by_country= df[0].rename(columns={'Unnamed: 2':'Gold','Unnamed: 3':'Silver','Unnamed: 4':'Bronze'})
medals_by_country

,Rank,Team/NOC,Gold,Silver,Bronze,Total,RankbyTotal,NOCCode
0,1,United States of America,39,41,33,113,1,USA
1,2,People's Republic of China,38,32,18,88,2,CHN
2,3,Japan,27,14,17,58,5,JPN
3,4,Great Britain,22,21,22,65,4,GBR
4,5,ROC,20,28,23,71,3,ROC
...,...,...,...,...,...,...,...,...
88,86,Ghana,0,0,1,1,77,GHA
89,86,Grenada,0,0,1,1,77,GRN
90,86,Kuwait,0,0,1,1,77,KUW
91,86,Republic of Moldova,0,0,1,1,77,MDA
92,86,Syrian Arab Republic,0,0,1,1,77,SYR

In [43]:
medals_by_country_men= df[1].rename(columns={'Unnamed: 1':'Gold','Unnamed: 2':'Silver','Unnamed: 3':'Bronze'})
medals_by_country_female= df[2].rename(columns={'Unnamed: 1':'Gold','Unnamed: 2':'Silver','Unnamed: 3':'Bronze'})
medals_by_country_mixed= df[3].rename(columns={'Unnamed: 1':'Gold','Unnamed: 2':'Silver','Unnamed: 3':'Bronze'})
medals_by_country_open= df[4].rename(columns={'Unnamed: 1':'Gold','Unnamed: 2':'Silver','Unnamed: 3':'Bronze'})

medals_by_country_open

        Team/NOC  Gold  Silver  Bronze  Total NOCCode
0  United States     0       2       0      2     USA
1  Great Britain     2       1       2      5     GBR
2      Australia     0       1       1      2     AUS
3    Netherlands     0       0       1      1     NED
4         France     0       0       1      1     FRA
5        Germany     3       1       0      4     GER
6         Sweden     1       1       0      2     SWE
7        Belgium     0       0       1      1     BEL

In [44]:
medals_by_country_men['Gender']='Male'
medals_by_country_female['Gender']='Female'
medals_by_country_mixed['Gender']='Mixed'
medals_by_country_open['Gender']='Open'

In [45]:
medals_by_country_gender= medals_by_country_men.append(medals_by_country_female).append(medals_by_country_mixed).append(medals_by_country_open)
medals_by_country_gender= medals_by_country_gender.reset_index(drop=True)

In [46]:
medals_by_country_gender.to_csv('MedalsByCountryGender.csv',index=False)

In [47]:
import os 
os.chdir('/Users/teetusaini/Documents/Master_in_Web_science/GithubRepos/Tokyo_Olympic_2020')

In [48]:
medals_by_country_gender.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180 entries, 0 to 179
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Team/NOC  180 non-null    object
 1   Gold      180 non-null    int64
 2   Silver    180 non-null    int64
 3   Bronze    180 non-null    int64
 4   Total     180 non-null    int64
 5   NOCCode   180 non-null    object
 6   Gender    180 non-null    object
dtypes: int64(4), object(3)
memory usage: 10.0+ KB

## Discipline per country

In [63]:
unique_countries=list(medals_by_country['Team/NOC'].unique())

In [64]:
# xdf= pd.read_html('https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-united-states.htm')
# xdf=xdf[0][:-1]
# xdf

In [73]:
discip_country_dict={'United States of America': 'united-states',
                        "People's Republic of China": 'china',
                        "Islamic Republic of Iran":'islamic-rep-of-iran',
                        "Dominican Republic": 'dominican-rep-',
                        "Syrian Arab Republic" :"syrian-arab-rep-",
                        "Republic of Moldova":"rep-of-moldova",
                        "Côte d'Ivoire":"cote-d-ivoire"}

url= 'https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-'
df=pd.DataFrame()
#getting all country names 
for country in unique_countries:
    if country in discip_country_dict:
        comp_url=url+discip_country_dict[country]+'.htm'
        print(comp_url)
        x=pd.read_html(comp_url)
        x=x[0][:-1]
        x['Team/NOC']=country
        df=df.append(x).reset_index(drop=True)
    else: 
        country= country.lower()
        country= country.replace(' ','-').replace('.','').replace(',','')
        comp_url = url+country+'.htm'
        print(comp_url)
        x=pd.read_html(comp_url)
        x=x[0][:-1]
        x['Team/NOC']=country
        df=df.append(x).reset_index(drop=True)


df

https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-united-states.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-china.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-japan.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-great-britain.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-roc.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-australia.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-netherlands.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-france.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-germany.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-italy.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-canada.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-brazil.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-new-zealand.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-cuba.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-hungary.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-republic-of-korea.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-poland.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-czech-republic.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-kenya.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-norway.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-jamaica.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-spain.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-sweden.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-switzerland.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-denmark.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-croatia.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-islamic-rep-of-iran.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-serbia.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-belgium.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-bulgaria.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-slovenia.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-uzbekistan.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-georgia.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-chinese-taipei.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-turkey.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-greece.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-uganda.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-ecuador.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-ireland.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-israel.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-qatar.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-bahamas.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-kosovo.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-ukraine.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-belarus.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-romania.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-venezuela.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-india.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-hong-kong-china.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-philippines.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-slovakia.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-south-africa.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-austria.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-egypt.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-indonesia.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-ethiopia.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-portugal.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-tunisia.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-estonia.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-fiji.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-latvia.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-thailand.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-bermuda.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-morocco.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-puerto-rico.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-colombia.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-azerbaijan.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-dominican-rep-.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-armenia.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-kyrgyzstan.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-mongolia.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-argentina.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-san-marino.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-jordan.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-malaysia.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-nigeria.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-bahrain.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-saudi-arabia.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-lithuania.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-north-macedonia.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-namibia.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-turkmenistan.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-kazakhstan.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-mexico.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-finland.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-botswana.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-burkina-faso.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-cote-d-ivoire.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-ghana.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-grenada.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-kuwait.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-rep-of-moldova.htm
https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/noc-entries-syrian-arab-rep-.htm

               Discipline   F   M  Total                  Team/NOC
0          3x3 Basketball   4   0      4  United States of America
1                 Archery   3   3      6  United States of America
2     Artistic Gymnastics   6   5     11  United States of America
3       Artistic Swimming   2   0      2  United States of America
4               Athletics  65  63    128  United States of America
...                   ...  ..  ..    ...                       ...
1645           Equestrian   0   1      1      Syrian Arab Republic
1646             Swimming   0   1      1      Syrian Arab Republic
1647         Table Tennis   1   0      1      Syrian Arab Republic
1648            Triathlon   0   1      1      Syrian Arab Republic
1649        Weightlifting   0   1      1      Syrian Arab Republic

[1650 rows x 5 columns]

In [81]:
discipline_per_country_gender= df
discipline_per_country_gender.to_csv('DisciplineByCountryGender.csv', index=False)

In [80]:
discipline_per_country_gender.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1650 entries, 0 to 1649
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Discipline  1650 non-null   object
 1   F           1650 non-null   int64
 2   M           1650 non-null   int64
 3   Total       1650 non-null   int64
 4   Team/NOC    1650 non-null   object
dtypes: int64(3), object(2)
memory usage: 64.6+ KB